<div class="mt-5 mb-5">
  <img src="/assets/logo.png"  class="rounded mx-auto d-block" alt="Responsive image">
</div>


<div class="row justify-content-center">

  <div class="col-lg-4 col-lg-offset-4">

    <input [(ngModel)]="email" type="email" class="form-control mb-4" placeholder="EMAIL" aria-label="EMAIL" >

    <input   [(ngModel)]="password" type="password" class="form-control" placeholder="PASSWORD" aria-label="PASSWORD" >

    <div class="col text-center mt-5">
      <button type="button" class="btn btn-primary btn-lg" (click)="login()">ACCEDI</button>
    </div>


  </div>

</div>


