<template>
  <div>

      <v-toolbar>
          <v-toolbar-title>
              <img src="logo.png" width="130" height="50">
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items class="hidden-sm-and-down">
              <v-btn flat @click.native="logout">LOGOUT</v-btn>
          </v-toolbar-items>
      </v-toolbar>

    <highcharts   :options="chartOptions"></highcharts>

    <div>

        <h2>TEMPERATURA: {{dati.temp.toFixed(0)}} °C</h2>

        <h2>TEMPERATURA MASSIMA: {{dati.temp_max.toFixed(0)}} °C</h2>

        <h2>TEMPERATURA MINIMA: {{dati.temp_min.toFixed(0)}} °C</h2>

    </div>


  </div>
</template>

<script>

import {Chart} from 'highcharts-vue'
import axios from 'axios'

export default {
  name: 'HelloWorld',
  components: {
    highcharts: Chart
  },
  data() { // inizio data
    return {
      dati: [],
      chartOptions: {
        title: 'titolo',
        series: [{
          type: 'pie',
          name: 'Browser share',
          data: [
            ['Firefox',   45.0],
            ['IE',       26.8],
            {
              name: 'Chrome',
              y: 12.8,
              sliced: true,
              selected: true
            },

            ['Safari',    8.5],
            ['Opera',     6.2],
            ['Others',   0.7]
          ]
        }]
      }
    }
  }, // fine data
  beforeMount () {
    this.carica_dati_weather()
  },
  methods: {
    logout () {
      localStorage.removeItem('overtoken')
      location.reload()
    },
    carica_dati_weather () {
      axios.get('https://api.openweathermap.org/data/2.5/weather?q=rome&units=metric&appid=2ce9c27bad816b51eb6943db06f0383f')
        .then((response) => {
          this.dati = response.data.main
        })
        .catch((error) => {
          throw new Error(error)
        })
    }
  }
} // fine classe
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
