<template>
    <div>

        <v-layout column align-center class="mt-5">


            <v-layout grid justify-center class="mt-5">

                <img src="logo.png" class="mb-5 mt-5">

            </v-layout>

        </v-layout>

        <v-layout wrap grid>

            <v-flex xs12 md6 lg4 offset-lg4 offset-md3>

                <v-text-field v-model="email" label="EMAIL"></v-text-field>

                <v-text-field type="password" v-model="password" label="PASSWORD"></v-text-field>


                <v-btn large block dark color="#00A4FF" class="altezza_login mt-5" @click.native="login">Accedi</v-btn>


            </v-flex>

        </v-layout>


    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Login',
    data () {
      return {
        email: '',
        password: ''
      }
    },
    methods: {
      login () {
        if (this.email.length > 0 && this.password.length > 6) {
          axios.post('http://progetto5.dev.sviluppo.tech/api/v1/auth/login', {
            email: this.email,
            password: this.password
          })
            .then((response) => {
              if (response.data.token) {
                localStorage.setItem('overtoken', response.data.token)
                location.reload()
              }
            })
            .catch((error) => {
              alert('Errore, dati inseriti non corretti')
              throw new Error(error)
            })
        } else {
          alert('compila i campi')
        }
      }
    }
  }
</script>

<style scoped>

</style>
