<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png"  width="130" height="50" class="d-inline-block align-top" alt="Over">
  </a>
  <button type="button" class="btn btn-primary" (click)="logout()">LOGOUT</button>
</nav>
<div>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"

    style="width: 100%; height: 400px; display: block;"
  ></highcharts-chart>

  <div *ngIf="mostra">
    <h3>Temperatura: {{math.round(temperatura.main.temp)}} °C</h3>
    <h3>Temperatura massima: {{math.round(temperatura.main.temp_max)}} °C</h3>
    <h3>Temperatura minima: {{math.round(temperatura.main.temp_min)}} °C</h3>
  </div>

</div>
