<template>
    <v-app id="app">

        <div v-if="controllo">
            <Dashboard/>
        </div>

        <div v-else>
            <Login></Login>
        </div>

    </v-app>
</template>

<script>
import Dashboard from './components/Dashboard'
import Login from './components/Login'

export default {
  name: 'app',
  components: {
    Dashboard,
    Login
  },
  computed: { // inizio computed
    controllo () { // inizio controllo
      if (localStorage.getItem('overtoken') === null) {
        return false
      } else {
        return true
      }
    } // fine controllo
  } // fine computed
}
</script>

<style>

</style>
